body {
  font-family: Arial;
  text-align: center;
  margin: 0;
}

.navbar {
  background-color: black;
  padding: 15px;
}

.navbar a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: yellow;
}

h1 {
  margin-top: 50px;
}
